@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body{
  background: rgb(108 172 228 / 0.2);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.top{
  display: none;
}

.navbar{
  z-index: 1;
  position: fixed;
  background: white;
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home{
  position: fixed;
  width: 10%;
  height: 20%;
  border: 0;
  border-bottom-left-radius: 40px;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.home:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.about{
  position: fixed;
  margin-left: 10%;
  width: 10%;
  height: 20%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.about:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.events{
  position: fixed;
  margin-left: 20%;
  width: 10%;
  height: 20%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.events:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.title{
  position: fixed;
  margin-top: -5%;
  margin-left: 30%;
}

.volunteer{
  position: fixed;
  margin-left: 70%;
  width: 10%;
  height: 20%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.volunteer:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.login{
  position: fixed;
  margin-left: 80%;
  width: 10%;
  height: 20%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.login:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.register{
  position: fixed;
  margin-left: 90%;
  width: 10%;
  height: 20%;
  border: 0;
  border-bottom-right-radius: 40px;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.register:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.image{
  position: absolute;
  width: 98%;
  height: 80%;
  left: 1%;
  background: rgb(108 172 228 / 0.5);
  border-radius: 20px;
}

.tagline{
  position: absolute;
  margin-top: 20%;
  margin-left: 5%;
  font-size: 60px;
  font-family: 'Brush Script MT', cursive;
  filter: opacity(75%);
}

.smile{
  margin-top: 5.6%;
  margin-left: 30%;
  filter: opacity(20%);
}

.scroll{
  position: absolute;
  height: 10%;
  width: 2.5%;
  border-radius: 20px;
  border: 0;
  background: white;
  left: 50%;
  bottom: 7%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.scroll::before,.scroll::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%,-100%) rotate(45deg);
  animation: scroll 1s ease-in-out infinite;
}

.scroll::after{
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}

.dot{
  position: absolute;
  bottom: 3%;
  left: 50.75%;
  width: 1%;
  height: 2%;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: white;
  cursor: pointer;
}

.bar{
  position: absolute;
  top: 120%;
  left: 0;
  background: #6cace4;
  width: 100%;
  height: 30%;
  filter: opacity(50%);
}

.what{
  position: absolute;
  top: 110%;
  left: 15%;
  width: 20%;
  height: 50%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  perspective: 1000px;
}

.what:hover>.card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.why{
  position: absolute;
  top: 110%;
  left: 40.5%;
  width: 20%;
  height: 50%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  perspective: 1000px;
}

.why:hover>.card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.how{
  position: absolute;
  top: 110%;
  left: 65.5%;
  width: 20%;
  height: 50%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  perspective: 1000px;
}

.how:hover>.card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.card{
  position: relative;
  margin-top: -5%;
  width: 100%;
  height: 100%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  backface-visibility: hidden;
}

.is{
  width: 100%;
  height: 100%;
  margin-top: 5%;
  padding-left: 5%;
  font-size: 60px;
}

.giv3r{
  color: #2774bc;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2774bc;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  font-size: 20px;
  text-align: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.desc{
  width: 80%;
  padding-left: 10%;
  padding-top: 25%;
}

.line{
  position: absolute;
  width: 80%;
  height: 0.5%;
  background: black;
  top: 170%;
  left: 10%;
  filter: opacity(25%);
}

.flip{
  position: absolute;
  font-size: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
  top: 170%;
  left: 43%;
}

@media screen and (width<1500px) and (orientation:portrait){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .top{
    display: contents;
  }

  .horizontal{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #6cace4;
    filter: opacity(50%);
    top: 50vh;
  }

  .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background: white;
    left: 25%;
  }

  .logo{
    height: 50%;
  }
  
  .base{
    display: none;
  }
}

@media screen and (width<1500px) and (orientation:landscape){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .top{
    display: contents;
  }

  .vertical{
    position: absolute;
    width: 50%;
    height: 100vh;
    background: #6cace4;
    filter: opacity(50%);
    left: 0;
    top: 0;
  }

  .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background: white;
    left: 38%;
  }

  .logo{
    height: 50%;
  }
  
  .base{
    display: none;
  }
}
