@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body{
  background: rgb(108 172 228 / 0.2);
  width: 100%;
  height: 100%;
}

.navbar{
  z-index: 1;
  position: fixed;
  background: white;
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home{
  position: relative;
  top: -97.5%;
  width: 10%;
  height: 100%;
  border: 0;
  border-bottom-left-radius: 50px;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.home:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.about{
  position: relative;
  top: -97.5%;
  width: 10%;
  height: 100%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.about:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.events{
  position: relative;
  top: -97.5%;
  width: 10%;
  height: 100%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.events:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.title{
  margin-top: -5%;
}

.volunteer{
  position: relative;
  top: -97.5%;
  left: 1%;
  width: 10%;
  height: 100%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.volunteer:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.login{
  position: relative;
  top: -97.5%;
  left: 1%;
  width: 10%;
  height: 100%;
  border: 0;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.login:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}

.register{
  position: relative;
  top: -97.5%;
  left: 1%;
  width: 10%;
  height: 100%;
  border: 0;
  border-bottom-right-radius: 50px;
  background: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.register:hover{
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #6cace4;
  color: white;
}
