@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

.canvas{
    width: 100%;
    height: 100vh;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: white;
}

.logo{
    width: 20rem;
    height: 10rem;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30%;
}

.logout{
    width: 7.5%;
    height: 22.5%;
    background: #2774bc;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    border: 0;
    border-radius: 10px;
}

.logout:hover{
    cursor: pointer;
    background: #6cace4;
}

@media screen and (orientation:portrait){
    .circle{
        width: 12.5rem;
        height: 12.5rem;
    }

    .logo{
        width: 15rem;
        height: 7.5rem;
    }

    .logout{
        width: 25%;
    }
}
